<nav class="relative w-full flex flex-wrap items-center justify-between py-4 bg-gray-100 text-gray-500 hover:text-gray-700 focus:text-gray-700 shadow-lg">
  <div class="container-fluid w-full flex flex-wrap items-center justify-between px-6">
    <div class="container-fluid flex">
      <a class="flex items-center text-gray-900 hover:text-gray-900 focus:text-gray-900 mt-2 lg:mt-0 mr-1" href="#">
        <%= image_tag("logo.png", size: "30x30", alt: "Edit Entry") %>        
        <% if current_user %>
        <span class="font-medium ml-3"><%= current_user.first_name %> <%= current_user.last_name %></span>
        <% else %>
        <span class="font-medium ml-3">MDBootstrap</span>
        <% end %>
      </a>
      <% if user_signed_in? %>
        <%= link_to 'Back', 'javascript:history.back()', class: "flex absolute ml-3 right-0 items-center text-gray-900 hover:text-gray-900 focus:text-gray-900 mt-2 lg:mt-0 mr-[90px]" %>
        <%= link_to "Log out", destroy_user_session_path, data: { turbo_method: :delete }, class: "flex absolute ml-3 right-0 items-center text-gray-900 hover:text-gray-900 focus:text-gray-900 mt-2 lg:mt-0 mr-3" %>
      <% else %>
        <%= link_to "Log in", new_user_session_path, class: "flex absolute  ml-3 right-0 items-center text-gray-900 hover:text-gray-900 focus:text-gray-900 mt-2 lg:mt-0 mr-5" %>
      <% end %>
    </div>
  </div>
</nav>